
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
            <% @blogs.each do |blog| %>
                <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h4> <%= link_to blog.title, blog_path(blog.id) %> </h4>
                        <% if blog.image.attached? %>
                            <%= image_tag(blog.image) %>
                        <% end %>
                        <% if user_signed_in? %>
                            <%= link_to "View", blog_path(blog.id), class: 'btn btn-primary mt-2' %>
                            <%= link_to "Delete", blog_path(blog.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mt-2" %>
                        <% else %>
                        <%= link_to new_user_session_path, class: 'nav-link' do %>
                            <p class="btn btn-primary mt-2"> Login to view blog</p>
                        <% end %>
                        <% end %>
                    </div>
                </div>
                </div>
            <% end %>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <%= search_form_for @q, html: { class: "d-flex" } do |f| %>
                <div class="input-group me-3">
                <%= f.text_field :title_cont, class: "form-control", placeholder: "Search by title" %>
                <button type="submit" class="btn btn-primary search1">Search</button>
                </div>
            <% end %>
            <div class="card mt-3">
                <div class="card-header">
                    Categories
                </div>
                <div class="card-body">
                    <ul class="list-group">
                    <% @categories.each do |category| %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <%= link_to category.category, blogs_path(:cate => category.id) %>
                            <span> <%= category.blogs.count %></span>
                        </li>
                    <% end %>   
                    </ul>
                </div>
            </div>
        </div>
         
        <div class="page mt-5">
            <%== pagy_bootstrap_nav(@pagy) %>
         </div>               
    </div>
</div>


<style>
    a{
        text-decoration: none;
        color: #fff;
    }
    img{
        width: 370px;
        height: 230px;
        border-radius: 5px;
    }
    @media screen and (max-width: 1025px) {
        img {
            height: 170px!important;
            width: 270px;
        }
    }
    @media screen and (max-width: 770px) {
        img {
            height: 120px!important;
            width: 195px;
        }
    }
    @media screen and (max-width: 430px) {
        img {
            height: 230px!important;
            width: 370px;
        }
    }
    @media screen and (max-width: 380px) {
        img {
            height: 200px!important;
            width: 330px;
        }
    }
    @media screen and (max-width: 325px) {
        img {
            height: 170px!important;
            width: 275px;
        }
    }
</style>

